fingerprint/large_testdata/Canon_EOS_R10_IMG_0683.CR3 filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHONE11hSLI0064NRD.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]Samsung[[:space:]]Galaxy[[:space:]]A32[[:space:]]1.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Canon_EOS_Rebel_T6_IMG_0501.CR2 filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/D300hSLI0100.NEF filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHON8PLUShSLI0040NRD-IMG_0219.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHON8PLUShSLI0040NRD-IMG_0219.jpeg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Nikon[[:space:]]D300S[[:space:]]2918764486.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/PXL_20240818_015751859.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Sony[[:space:]]A77[[:space:]]III[[:space:]]6912738029.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Sony[[:space:]]Ericsson[[:space:]]C905.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/YDSC00059.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]Samsung[[:space:]]Galaxy[[:space:]]A32[[:space:]]2.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]Samsung[[:space:]]Galaxy[[:space:]]A32[[:space:]]3.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/sony_a7s_iii_07.arw filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/sony_a7s_iii_07.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/A7M3hSLI000100NR2D.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/D300hSLI0100.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHONE11hSLI0064NRD.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Y-GooglePixel2-PortraitMode-014.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/YDSC01924-MFNR_LOW.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]iPad[[:space:]]Air[[:space:]]5th[[:space:]]gen[[:space:]]1.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]iPhone[[:space:]]12[[:space:]]Pro[[:space:]]2.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Adobe[[:space:]]Photoshop[[:space:]]Lightroom.XMP filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Nikon[[:space:]]D3000[[:space:]]2539678715.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/SONY[[:space:]]ILCE-6000[[:space:]]214302582[[:space:]]9.ARW filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Y-DP-105mm-9411.ARW filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Y-DP-105mm-9411.jpeg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/YDSC01923-MFNR_HIGH.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]iPad[[:space:]]Air[[:space:]]5th[[:space:]]gen[[:space:]]2.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHON8PLUShSLI0020NRD-IMG_0218.jpeg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/PXL_20240818_015751859.RAW-01.COVER.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Sony[[:space:]]A77[[:space:]]2416501744.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/iPhone15ProMax-0003-tele-5x.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHON8PLUShSLI0020NRD-IMG_0218.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/P1000INBAP0.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Sony[[:space:]]A6100[[:space:]]4078921458.arw filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Canon[[:space:]]PowerShot[[:space:]]SX230.JPG filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHONE11hSLI0032NRD.dng filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/IPHONE11hSLI0032NRD.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/NIKON[[:space:]]D300[[:space:]]4085317[[:space:]]69139.NEF filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/P1000hSLI0100NR2D.jpeg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Sony[[:space:]]A6100[[:space:]]4078921458.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/Y-GooglePixel2-PortraitMode-005.jpg filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/heic.digital[[:space:]]iPhone[[:space:]]12[[:space:]]Pro[[:space:]]1.heic filter=lfs diff=lfs merge=lfs -text
fingerprint/large_testdata/iPhone15ProMax-0003-tele-5x.jpg filter=lfs diff=lfs merge=lfs -text
